<!--The content below is only a placeholder and can be replaced.-->
<div class="example-container">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">Responsive App</h1>
  </mat-toolbar>
  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a mat-list-item routerLink='/admin' (click)="sidenav.toggle()">Admin</a>
      </mat-nav-list>
      <mat-nav-list> 
        <a mat-list-item routerLink='/contacts' (click)="sidenav.toggle()">Contacts</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
